input#ff-num {
    width: 3em;
    text-align: right;
}


input#hd-num {
    width: 3em;
    text-align: right;
}


input#ok-num {
    width: 3em;
    text-align: right;
}


input#kr-num {
    width: 3em;
    text-align: right;
}


input#sui-num {
    width: 3em;
    text-align: right;
}

input#total {
    width: 5em;
    text-align: right;
}

.total {
    text-align: right;
    width: 5em;
}

.totalAll {
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    white-space: nowrap;
}

#totalAll {
    border: none;
    width: 5em;
    font-size: xx-large;
    font-weight: bold;
}

.labelTotal {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

button.clearButton {
    width: 10em;
    height: 4em;
    text-align: center;
}
button.updateButton {
    width: 10em;
    height: 4em;
    text-align: center;
}

	
input{ font-size:16px; }

td.nowrap {
    white-space: nowrap;
}