input#ff-num {
    width: 3em;
}


input#hd-num {
    width: 3em;
}


input#ok-num {
    width: 3em;
}


input#kr-num {
    width: 3em;
}


input#sui-num {
    width: 3em;
}

input#total {
    width: 6em;
}

.total {
    text-align: right;
    width: 6em;
}

.totalAll {
    text-align: right;
    width: 6em;
    font-size: large;
    font-weight: bold;
}

#totalAll {
    border: none;
    font-size: large;
    font-weight: bold;
}

.labelTotal {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

button.clearButton {
    width: 10em;
    text-align: center;
}

	
input{ font-size:16px; }