input#ff-num {
    width: 3em;
}


input#hd-num {
    width: 3em;
}


input#ok-num {
    width: 3em;
}


input#kr-num {
    width: 3em;
}


input#sui-num {
    width: 3em;
}

input#total {
    width: 6em;
}

.total {
    text-align: right;
}

.labelTotal {
    font-size: large;
    font-weight: bold;
    text-align: center;
}